*{
    margin: 0;
    padding: 0;

}
.container{
    background-color: rgb(255, 0, 0);
    height: 400px;
    width: 80%;
    position: relative;
    margin: 40px 60px;

}
.box{
    background-color: black;
    width: 180px;
    height: 120px;
    position: absolute;
    right: 0;
    left: 0;
    

}