*{
    margin: 0;
    padding: 0;
}
.review{
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 12%

}
.lef img{
    width: 400px;
    height: 300px;
}
.right{
    width: 400px;
    position: relative;
}
.right h4{
    font-size: 2.4em;
}
.comment{
    background-color: rgb(190, 190, 190);
    padding: 10px 30px;
    border: 30px;
    position: absolute;
    bottom: 400px;
    
}